
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;800&family=Playfair+Display:wght@800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1920px;
    width:100%;
    margin: auto;
    height: 12vh;
    position:fixed;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
    color: #9767A9;
}

.redes figure{
    padding-top: 2px;
}

.topIcon{
    width:7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_menu{
    display: none;
}

.cachos img{
    width:6.5vw;
}

.navTop ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    list-style: none;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

li{
    text-align: center;
    width:9vw;
}

.cc{
    width: 14vw;
}

.navTop li:hover{
    font-weight: 800;
    cursor: pointer;
}

.redes{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:18vw;
    height:8vh;
}

.redes img{
    width: 2vw;
}

.redes input{
    width: 10vw;
    height: 3.8vh;
    border:solid #9767A9 2px;
    border-radius: 20px;
    padding-left: 2px;
}

input::placeholder{
    text-align: center;
    font-size: 1vw;
    color: #9767A9;
    background-image: url(./imagens/Layer_3.svg);
    background-repeat: no-repeat;
    background-size: contain;
}



        /*---Responsividade da HEADER---*/



@media (max-width:600px){
    header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 600px;
        width:100%;
        margin: auto;
        height: 6.5vh;
        color: #9767A9;
    }
    
    .topIcon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55vw;
        height: 6.4vh;
    }

    .icon_menu{
        display: flex;
        justify-content: flex-start;
        height:6.5vh;
    }
    
    .cachos img{
        display: flex;
        align-items: center;
        width:50px;
    }
    
    .navTop ul{
        display: none;
    }
    
    li{
        display: none;
    }
    
    .redes{
        display:none;
    }
    
    .redes img{
        display: none;
    }
    
    input{
        display: none;
    }
    
}



        /*---estilizando o topo da MAIN---*/

main{
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

.mainTitle{
    background-image: url(./imagens/cabeludo@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 89.9vh;
    margin-top: 12vh;
}

.mainTitle h1{
    position: absolute;
    top: 23.5vw;
    right: 63.5vw;
    color: #ffffff;
    width: 20vw;
    font-size: 4.6vw;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}

.mainTitle h2{
    position: absolute;
    top:28vw;
    right: 17vw;
    color: #ffffff;
    width: 23vw;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}



        /*tornando respansivo o topo da MAIN*/



@media(max-width:600px){
    .mainTitle{
        background-image: url(./imagens/cabeludo@2x\(mobile\).png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        width: 100%;
        height: 70vh;
        margin-top: 5vh;
    }
    
    .mainTitle h1{
        position: absolute;
        top: 12vw;
        right: 40vw;
        color: #ffffff;
        width: 50vw;
        font-size: 13vw;
        font-weight: 900;
        font-family: 'Playfair Display', serif;
    }
    
    .mainTitle h2{
        position: absolute;
        top:52vw;
        right: 36vw;
        color: #ffffff;
        width: 23vw;
        font-size: 5vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        width: 55vw;
    }
}



        /*estilizando as dicas da MAIN*/



.dicasTitle{
    position: relative;
    background-color: #9767A9;
    height: 45vh;
    color: #ffffff;
}

.dicasTitle h2{
    position: absolute;
    top: 2vh;
    right: 43vw;
    width: 47vw;
    font-family: 'Playfair Display', serif;
    font-size: 3.3vw;
}

.dicasTitle p{
    position: absolute;
    top: 4vh;
    right: 5.5vw;
    font-size: 1.4vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 36.5vw;
    height: 37vh;
}



        /*tornando responsivo as dicas da MAIN*/



@media (max-width:600px){
    .dicasTitle{
        position: relative;
        background-color: #9767A9;
        height: 80vh;
        color: #ffffff;
    }
    
    .dicasTitle h2{
        position: absolute;
        top: 2vh;
        right: 14vw;
        width: 72vw;
        font-family: 'Playfair Display', sans-serif;
        font-size: 5vw;
    }
    
    .dicasTitle p{
        position: absolute;
        top: 15vh;
        right: 14vw;
        font-size: 3vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        line-height: 25px;
        width: 72vw;
        height: 60vh;
    }
}



        /*imagens da MAIN*/



.dicas h3{
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.dicas p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 11px;
    margin-top: 10px;
}

.dicas{
    display: flex;
    flex-wrap: wrap;
    height: 2100px;
}

.espelho{
    width: 30%;
}

.espelho img{
    position: relative;
    bottom: 10%;
    left: 20%;
    width: 100%;
   
}

.textEspelho{
    color: #ffffff;
    background-color: #9767A9;
    position: relative;
    top: 8%;
    right: 28%;
    width: 30vw;
    height: 53vh;
    z-index: 2;
    padding: 1vw 1.5vw;
}

.referencia img{
    position:relative;
    bottom: 55%;
    left: 122%;
    width: 41vw;
    height: 70vh;
}

.textReferencia{
    color: #ffffff;
    background-color: #9767A9;
    width: 30vw;
    height: 44vh;
    position: relative;
    top: 1.5%;
    right: -15%;
    z-index: 2;
    padding: 1vw 1.5vw;
}

.praia img{
    position: relative;
    bottom: 61%;
    left: 20%;
    width: 41vw;
    height: 70vh;
}

.textPraia{
    color: #ffffff;
    background-color: #9767A9;
    width: 28vw;
    height: 35vh;
    position: relative;
    top: 1%;
    right: 28%;
    z-index: 2;
    padding: 1vw 1.5vw;
}

.rainha img{
    position:relative;
    bottom: 115%;
    left: 122%;
    width: 41vw;
    height: 70vh;
}

.textRainha{
    color: #ffffff;
    background-color: #9767A9;
    width: 30vw;
    height: 40vh;
    position: relative;
    top: -3.7%;
    right: -15%;
    z-index: 2;
    padding: 1vw 1.5vw;
}

.raizes img{
    position: relative;
    bottom: 115%;
    left: 20%;
    width: 41vw;
    height: 70vh;
}

.textRaizes{
    color: #ffffff;
    background-color: #9767A9;
    position: relative;
    top: -7.5%;
    right: 28%;
    width: 30vw;
    height: 46vh;
    z-index: 2;
    padding: 1vw 1.5vw;
}

.fases img{
    position:relative;
    bottom: 160%;
    left: 122%;
    width: 41vw;
    height: 70vh;
}

.textFases{
    color: #ffffff;
    background-color: #9767A9;
    width: 30vw;
    height: 40vh;
    position: relative;
    top: -12%;
    right: -15%;
    z-index: 2;
    padding: 1vw 1.5vw;
}

.orgulho img{
    position: relative;
    bottom: 170%;
    left: 20%;
    width: 41vw;
    height: 70vh;
}

.textOrgulho{
    color: #ffffff;
    background-color: #9767A9;
    position: relative;
    top: -14.6%;
    right: 28%;
    width: 30vw;
    height: 38vh;
    z-index: 2;
    padding: 1vw 1.5vw;
}

.textura{
    position: relative;
    bottom: 9%; 
    left: 56%;
    width:28vw;
    
}
.textura img{
    width: 28vw;
}

.dicas figure{
    height: 15vh;
}

        /*rersponsivo das imagens da MAIN*/



@media(max-width:600px){
    
}


        /*configurando o o fina da MAIN*/



.final{
    display: flex;
    justify-content: center;
}

.grade{
    width: 84%;
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.rei{
    width:24.2%;
}

.rei img{
    width:100%;
}

 .gloria{
    width:24.2%;
}

.gloria img{
    width:100%;
}

.beyonce{
    width: 16%;
}

.beyonce img{
    width: 100%;
}

.jordan{
    width: 16%;
}

.jordan img{
    width: 100%;
}

.tais {
    width: 16%;
}

.tais img{
    width: 100%;
}

.black{
    width: 15.8%;
}

.black img{
    width: 100%;
}

.dog {
    width: 15.8%;
}

.dog img{
    width: 100%;
}

.cabeludo{
    width: 24%;
}

.cabeludo img{
    width: 100%;
}

.noiva {
    width: 15.9%;
}

.noiva img{
    width: 100%;
}

.barbudo{
    width: 15.9%;
}

.barbudo img{
    width: 100%;
}


        /*responsivo do final da MAIN*/


@media(max-width:600px){
    
}


        /*FOOTER*/

footer{
    background-color: #9767A9;
    height: 14vh;
    max-width: 1920px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10px;
    margin-top: 4vh;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

footer img{
    padding: 1px;
    width:2.5vw;
}

.seta p{
    width: 3.5vw;
}

.link{
    width: 51%;
}

.seta figure{
    display: flex;
    justify-content: center;
    width: 10vw;
}

.seta{
    display: flex;
    width: 28%;
}


